@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white overflow-hidden;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-purple-700 rounded-full;
}
